<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
    <form method="POST"> {% csrf_token %}
        <button type='submit'>Log out</button>
    </form>
{% else %}
    <p>Welcome, new user. Please log in.</p>
{% endif %}
</body>
</html>