{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--begin::Global Theme Styles(used by all pages)-->
    <link rel="stylesheet" href="{%static 'customer/plugins.bundle.css'%}">
    <link rel="stylesheet" href="{%static 'customer/prismjs.bundle.css'%}">
    <link rel="stylesheet" href="{%static 'customer/style.bundle.css'%}">
    <!--end::Global Theme Styles-->

    <!--begin::Layout Themes(used by all pages)-->

    <link rel="stylesheet" href="{%static 'customer/dark.css'%}">
    <link rel="stylesheet" href="{%static 'customer/dark1.css'%}">
    <link rel="stylesheet" href="{%static 'customer/light.css'%}">
    <link rel="stylesheet" href="{%static 'cthe exampustomer/light1.css'%}">
    <!--end::Layout Themes-->

</head>

<!--end::Head-->

<!--begin::Body-->

<body>
    <!--begin::Card-->
		<div class="card card-custom gutter-b example example-compact" style="width: 50%; margin: auto;">
			<div class="card-header">
				<h3 class="card-title">
					Welcome!
				</h3>
			</div>
			<!--begin::Form-->
			<form>
				<div class="card-body">

					<div class="form-group">
						<label>Name </label>
						<input type="text" class="form-control"  placeholder="Enter name"/>
						
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Phone Number </label>
						<input type="tel" class="form-control" id="exampleInputPassword1" placeholder="Enter phonenumber"/>
					</div>
					<div class="form-group">
						<label for="exampleSelect2">Categories </label>
						<select multiple="" class="form-control" id="exampleSelect2">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>
					</div>
					<!--begin: Code-->
					<div class="example-code mt-10">
						<div class="example-highlight"><pre style="height:400px"><code class="language-html">
							&lt;div class=&quot;card card-custom&quot;&gt;
								&lt;div class=&quot;card-header&quot;&gt;
									&lt;h3 class=&quot;card-title&quot;&gt;
										Base Controls
									&lt;/h3&gt;
									&lt;div class=&quot;card-toolbar&quot;&gt;
										&lt;div class=&quot;example-tools justify-content-center&quot;&gt;
											&lt;span class=&quot;example-toggle&quot; data-toggle=&quot;tooltip&quot; title=&quot;View code&quot;&gt;&lt;/span&gt;
											&lt;span class=&quot;example-copy&quot; data-toggle=&quot;tooltip&quot; title=&quot;Copy code&quot;&gt;&lt;/span&gt;
										&lt;/div&gt;
									&lt;/div&gt;
								&lt;/div&gt;
								&lt;!--begin::Form--&gt;
								&lt;form&gt;
									&lt;div class=&quot;card-body&quot;&gt;
										&lt;div class=&quot;form-group mb-8&quot;&gt;
											&lt;div class=&quot;alert alert-custom alert-default&quot; role=&quot;alert&quot;&gt;
												&lt;div class=&quot;alert-icon&quot;&gt;&lt;i class=&quot;flaticon-warning text-primary&quot;&gt;&lt;/i&gt;&lt;/div&gt;
												&lt;div class=&quot;alert-text&quot;&gt;
													The example form below demonstrates common HTML form elements that receive updated styles from Bootstrap with additional classes.
												&lt;/div&gt;
											&lt;/div&gt;
										&lt;/div&gt;
										&lt;div class=&quot;form-group&quot;&gt;
											&lt;label&gt;Email address &lt;span class=&quot;text-danger&quot;&gt;*&lt;/span&gt;&lt;/label&gt;
											&lt;input type=&quot;email&quot; class=&quot;form-control&quot;  placeholder=&quot;Enter email&quot;/&gt;
											&lt;span class=&quot;form-text text-muted&quot;&gt;We'll never share your email with anyone else.&lt;/span&gt;
										&lt;/div&gt;
										&lt;div class=&quot;form-group&quot;&gt;
											&lt;label for=&quot;exampleInputPassword1&quot;&gt;Password &lt;span class=&quot;text-danger&quot;&gt;*&lt;/span&gt;&lt;/label&gt;
											&lt;input type=&quot;password&quot; class=&quot;form-control&quot; id=&quot;exampleInputPassword1&quot; placeholder=&quot;Password&quot;/&gt;
										&lt;/div&gt;
										&lt;div class=&quot;form-group&quot;&gt;
											&lt;label&gt;Static:&lt;/label&gt;
											&lt;p class=&quot;form-control-plaintext text-muted&quot;&gt;email@example.com&lt;/p&gt;
										&lt;/div&gt;
										&lt;div class=&quot;form-group&quot;&gt;
											&lt;label for=&quot;exampleSelect1&quot;&gt;Example select &lt;span class=&quot;text-danger&quot;&gt;*&lt;/span&gt;&lt;/label&gt;
											&lt;select class=&quot;form-control&quot; id=&quot;exampleSelect1&quot;&gt;
												&lt;option&gt;1&lt;/option&gt;
												&lt;option&gt;2&lt;/option&gt;
												&lt;option&gt;3&lt;/option&gt;
												&lt;option&gt;4&lt;/option&gt;
												&lt;option&gt;5&lt;/option&gt;
											&lt;/select&gt;
										&lt;/div&gt;
										&lt;div class=&quot;form-group&quot;&gt;
											&lt;label for=&quot;exampleSelect2&quot;&gt;Example multiple select &lt;span class=&quot;text-danger&quot;&gt;*&lt;/span&gt;&lt;/label&gt;
											&lt;select multiple=&quot;&quot; class=&quot;form-control&quot; id=&quot;exampleSelect2&quot;&gt;
												&lt;option&gt;1&lt;/option&gt;
												&lt;option&gt;2&lt;/option&gt;
												&lt;option&gt;3&lt;/option&gt;
												&lt;option&gt;4&lt;/option&gt;
												&lt;option&gt;5&lt;/option&gt;
											&lt;/select&gt;
										&lt;/div&gt;
										&lt;div class=&quot;form-group mb-1&quot;&gt;
											&lt;label for=&quot;exampleTextarea&quot;&gt;Example textarea &lt;span class=&quot;text-danger&quot;&gt;*&lt;/span&gt;&lt;/label&gt;
											&lt;textarea class=&quot;form-control&quot; id=&quot;exampleTextarea&quot; rows=&quot;3&quot;&gt;&lt;/textarea&gt;
										&lt;/div&gt;
									&lt;/div&gt;
									&lt;div class=&quot;card-footer&quot;&gt;
										&lt;button type=&quot;reset&quot; class=&quot;btn btn-primary mr-2&quot;&gt;Submit&lt;/button&gt;
										&lt;button type=&quot;reset&quot; class=&quot;btn btn-secondary&quot;&gt;Cancel&lt;/button&gt;
									&lt;/div&gt;
								&lt;/form&gt;
								&lt;!--end::Form--&gt;
							&lt;/div&gt;
						</code></pre></div>					</div>
					<!--end: Code-->
				</div>
				<div class="card-footer">
					<button type="reset" class="btn btn-primary mr-2">Submit</button>
					<button type="reset" class="btn btn-secondary">Cancel</button>
				</div>
			</form>
			<!--end::Form-->
		</div>
		<!--end::Card-->
</body>
<!--end::Body-->

</html>