{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--begin::Global Theme Styles(used by all pages)-->
    <link rel="stylesheet" href="https://majdalkawaas.github.io/static/guest/plugins.bundle.css">
    <link rel="stylesheet" href="https://majdalkawaas.github.io/static/guest/prismjs.bundle.css">
    <link rel="stylesheet" href="https://majdalkawaas.github.io/static/guest/style.bundle.css">
    <!--end::Global Theme Styles-->

    <!--begin::Layout Themes(used by all pages)-->

    <link rel="stylesheet" href="https://majdalkawaas.github.io/static/guest/dark.css">
    <link rel="stylesheet" href="https://majdalkawaas.github.io/static/guest/dark1.css">
    <link rel="stylesheet" href="https://majdalkawaas.github.io/static/guest/light.css">
    <link rel="stylesheet" href="https://majdalkawaas.github.io/static/guest/light1.css">
    <!--end::Layout Themes-->

    <style>
                .ml-1 
        {
            margin-left:(spacer * .25) !important;
        }
    </style>
</head>

<body>
    <div class="d-flex align-items-center justify-content-center" style="height: 700px">
        <div class="d-flex flex-column-fluid">
            <div class=" container ">
                <div class="row justify-content-md-center">
                    <div class="col-md-6 ml-1">

                        <div class="card card-custom">
                            <div class="card-header">
                                <div class="card-title">
                                    <h3 class="card-label">
                                        Category
                                    </h3>
                                </div>
                            </div>
                            <div class="card-body">
                                <h1>{{guest.Category}}</h1>
                            </div>
                        </div>
                        <br>
                        
                        <div class="card card-custom">
                            <div class="card-body">
                                <h1 style="font-size: 200px; text-align: center;">{{guest.GuestNumber}}</h1>
                            </div>
                            <form action="" method="POST">
                                {%csrf_token%}
                            <div class="card-footer d-flex justify-content-between">
                                <button type="submit" class="btn btn-light-primary font-weight-bold">Withdraw</button>
                                <!-- <input type="submit" value="Widthraw" class="btn btn-light-primary font-weight-bold"> -->
                                <button type="button" class="btn text-muted">Time Left</button>
                            </div>
                        </form>
                        </div>

                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
    </div>
    <!--end::Row-->
    <script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script>
    <!--begin::Global Config(global config for global JS scripts)-->
    <script>

        var KTAppSettings = {
            "breakpoints": {
                "sm": 576,
                "md": 768,
                "lg": 992,
                "xl": 1200,
                "xxl": 1400
            },
            "colors": {
                "theme": {
                    "base": {
                        "white": "#ffffff",
                        "primary": "#3699FF",
                        "secondary": "#E5EAEE",
                        "success": "#1B78C5",
                        "info": "#8950FC",
                        "warning": "#FFA800",
                        "danger": "#F64E60",
                        "light": "#E4E6EF",
                        "dark": "#181C32"
                    },
                    "light": {
                        "white": "#ffffff",
                        "primary": "#E1F0FF",
                        "secondary": "#EBEDF3",
                        "success": "#C9E2F7",
                        "info": "#EEE5FF",
                        "warning": "#FFF4DE",
                        "danger": "#FFE2E5",
                        "light": "#F3F6F9",
                        "dark": "#D6D6E0"
                    },
                    "inverse": {
                        "white": "#ffffff",
                        "primary": "#ffffff",
                        "secondary": "#3F4254",
                        "success": "#ffffff",
                        "info": "#ffffff",
                        "warning": "#ffffff",
                        "danger": "#ffffff",
                        "light": "#464E5F",
                        "dark": "#ffffff"
                    }
                },
                "gray": {
                    "gray-100": "#F3F6F9",
                    "gray-200": "#EBEDF3",
                    "gray-300": "#E4E6EF",
                    "gray-400": "#D1D3E0",
                    "gray-500": "#B5B5C3",
                    "gray-600": "#7E8299",
                    "gray-700": "#5E6278",
                    "gray-800": "#3F4254",
                    "gray-900": "#181C32"
                }
            },
            "font-family": "Poppins"
        };
    </script>
    <!--end::Global Config-->

    <!--begin::Global Theme Bundle(used by all pages)-->
    <script src="https://majdalkawaas.github.io/static/guest/plugins.bundle.js"></script>
    <script src="https://majdalkawaas.github.io/static/guest/prismjs.bundle.js"></script>
    <script src="https://majdalkawaas.github.io/static/guest/scripts.bundle.js"></script>
    
    <!--end::Global Theme Bundle-->
</body>

</html>